<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 pt-2 font-weight-bold text-primary float-left"> <i class="fas fa-list"></i> permissions</h6>
        <a class="btn btn-outline-primary float-right" href="/permissions/add" data-toggle="tooltip" data-placement="left" title="Create New Permissions">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    
    <div class="card-body">
        {{#if msg }}
            <div class="alert alert-primary">
               {{{ msg }}}
            </div>    
        {{/if}}
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="table-dark">
                      <tr>
                        <th>#</th>
                        <th>Permissions Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </tr>
                </thead>
               
                <tbody>
                    {{#each permissions}}
                    <tr>
                        <td> {{ inc @index ../start_index }} </td>
                        <td> {{ name }} </td>
                        <td>
                            <a class="btn btn-outline-danger btn_delete" data-id="{{id}}" data-route="permissions" href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Delete">
                                <i class="fas fa-times"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" href="/permissions/edit/{{id}}" data-toggle="tooltip" data-placement="left" title="Edit">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td class="text-center" colspan="4"><div class="alert alert-warning">No Data</div></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <nav aria-label="Page navigation example ml-1">
                    <ul class="pagination justify-content-end flex-wrap ">
                        {{{pagination_item paginate.total_page paginate.page paginate.offset search "permissions"}}}
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="col-md-12 col-sm-10 float-right p-0 mb-2">
                    <div class="input-group table-search">
                        <input type="text" value="{{search}}" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <a class="btn btn-primary" data-href="/permissions/1/{{paginate.offset}}/">
                                <i class="fas fa-search fa-sm"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">             
                <div class="dropdown float-right float-md-left">
                    <button style="white-space: normal" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Per Page ({{ paginate.offset }})
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/permissions/{{paginate.page}}/5/{{search}}">5</a>
                        <a class="dropdown-item" href="/permissions/{{paginate.page}}/10/{{search}}">10</a>
                        <a class="dropdown-item" href="/permissions/{{paginate.page}}/15/{{search}}">15</a>
                        <a class="dropdown-item" href="/permissions/{{paginate.page}}/20/{{search}}">20</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>